.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}
.top-tip-content{
    display: fixed;
    top:0;
    right: 0;
    z-index: 10rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: silver;
}